@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #5c27a3; 
  --secondary-color: #49d09e; 
  --background-color:  #a0f3cf ; /* Light Gray */
  --text-color:  #3b3b3b; /* Dark Gray */
  --accent-color: #5c27a3;
}

/* Optional: Dark mode */
[data-theme='dark'] {
  --primary-color: #009688; /* Teal */
  --secondary-color: #FFC107; /* Amber */
  --background-color: #303030; /* Dark Gray */
  --text-color: #FFFFFF; /* White */
}
